/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CUSTOM CSS HERE */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300;1,400&family=Permanent+Marker&family=Sankofa+Display&display=swap');

body {
  background-color: #003459;
  color: #00A8E8;
}

.container * {
  --cell-size: 33.4px;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 1050px;
  margin: 0 auto 0 auto;  
   flex-grow: 0;
  flex-shrink: 0;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondHeader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

main {
  display: flex;
  height: 500px;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
}

main#placement {
justify-content: space-around;
}

.paddingBottom {
  padding-bottom: 1.5em;
}

.ships {
  width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.shipsVer {
  width: 230px;
  height: 336px;;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.shipContainer {
  width: 90%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.shipContainerVer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.shipName {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.shipNameVertical {
  height: 1.3rem;
  padding-bottom: 15px;
  font-size: 1rem;
}

.ship {  
  background-color: #301934;
}

.smallHor {
  height: var(--cell-size);
  width: calc(var(--cell-size)*2);
}

.bigHor {
  height: var(--cell-size);
  width: calc(var(--cell-size)*3);
}

.biggerHor {
  height: var(--cell-size);
  width: calc(var(--cell-size)*4);
}

.biggestHor {
  height: var(--cell-size);
  width: calc(var(--cell-size)*5);
}

.smallVer {
  width: var(--cell-size);
  height: calc(var(--cell-size)*2);
}

.bigVer {
  width: var(--cell-size);
  height: calc(var(--cell-size)*3);
}

.biggerVer {
  width: var(--cell-size);
  height: calc(var(--cell-size)*4);
}

.biggestVer {
  width: var(--cell-size);
  height: calc(var(--cell-size)*5);
}

.player1, .player2, .board {
  display: flex;
  width: 336px;
  height: 336px;  
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width: 33.4px;
  height: 33.4px;
  border: 1px solid #00171F;
}

.cell:hover {
  background-color: #00A8E8;
}

.buttonContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
}

#play, #resetGame, #changeOrientation, #confirm, #reset, #ran5 {
  height: 60px;
  width: 120px;
  line-height: 1;
  border-radius: 13px;
  font-size: smaller;    
  background-color: #007EA7;
  border: none;
}

#play:hover, #resetGame:hover, #changeOrientation:hover, #confirm:hover, #reset:hover, #ran5:hover {
  box-shadow: #00A8E8 3px 3px 5px ;
  cursor: pointer;
}

footer {
  margin-top: auto;
  align-self: center;  
}

.footer {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.footer a {
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5rem;
}